:root {
    --main-bg-color: rgb(0, 0, 0);
    --main-color-main: rgb(253, 220, 254);
    --main-color-1: rgb(255, 174, 250);
    --main-color-2: rgb(204, 86, 192);
    --main-color-3: rgb(232, 54, 164);
}