:root {
    --main-bg-color: rgb(227, 254, 255);
    --main-color-main: rgb(24, 13, 80);
    --main-color-1: rgb(23, 17, 205);
    --main-color-2: rgb(44, 21, 146);
    --main-color-3: rgb(23, 8, 80);
}