:root {
    --main-bg-color: rgb(34, 9, 16);
    --main-color-main: rgb(254, 220, 242);
    --main-color-1: rgb(255, 174, 189);
    --main-color-2: rgb(204, 86, 86);
    --main-color-3: rgb(232, 54, 54);
}